<footer class="custom-footer home-only-footer">


<!-- 顶部运行时间区域 -->

<div class="footer-top">


<div class="footer-top-inner">


<div class="footer-runtime" id="site-runtime">

本站已稳定运行：计算中...

</div>



<div class="footer-links">


<a href="https://lovefruitmr64-tech.github.io/blog/blog/">
投稿说明
</a>


<a href="https://lovefruitmr64-tech.github.io/blog/blog/">
版权声明
</a>


<a href="https://lovefruitmr64-tech.github.io/blog/blog/">
下载说明
</a>


<a href="https://lovefruitmr64-tech.github.io/blog/blog/">
sitemap
</a>


</div>


</div>


</div>





<!-- 黑色版权区域 -->


<div class="footer-bottom">


<div class="footer-bottom-inner">


Copyright © 2026 爱果核资源库


</div>


</div>






<script>


(function(){


const startTime =
new Date('2026-01-01T00:00:00+08:00').getTime();



function updateRuntime(){


const now =
new Date().getTime();



const diff =
now-startTime;



if(diff<0)return;



const days =
Math.floor(diff/(1000*60*60*24));



const hours =
Math.floor(
(diff%(1000*60*60*24))
/(1000*60*60)
);



const minutes =
Math.floor(
(diff%(1000*60*60))
/(1000*60)
);



const seconds =
Math.floor(
(diff%(1000*60))
/1000
);



document.getElementById("site-runtime").innerHTML =

`本站已稳定运行：${days} 天 ${hours} 小时 ${minutes} 分 ${seconds} 秒`;



}



updateRuntime();


setInterval(updateRuntime,1000);



})();


</script>



</footer>