<article class="post-card">

  <div class="post-card-content">

    <h2 class="post-card-title">
      <a href="../{{ post.url }}">
        {{ post.title }}
      </a>
    </h2>

    <div class="post-desc">
      {{ post.excerpt }}
    </div>

    <div class="post-card-footer">
      {% if post.meta.date %}
      <span class="post-date">
        发布时间：{{ post.meta.date }}
      </span>
      {% endif %}

      <a class="post-button" href="../{{ post.url }}">
        查看文章 →
      </a>
    </div>

  </div>

</article>